################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/temp.html
/index.html.bak
/index - Copy.html
/.vs/slnx.sqlite
